In [68]:
#data from source ----wikipedia
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') ###<-- List

df_Toronto=df[0]
df_Toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

update of Queen's Park Neighbourhood

In [69]:
df_Toronto.at[8,'Neighbourhood']= 'Queens Park'
df_Toronto=df_Toronto[df_Toronto.Neighbourhood!='Not assigned']
df_Toronto = df_Toronto.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()
df_Toronto.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [70]:
df_Toronto.shape

(103, 3)